* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}



.main {
    width: 100vw;
    height: 100vh;
    background: #c1c1c1d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mainheading {
    position: absolute;
    top: 1px;
    left: 0;
}

.mainheading h2 {
    font-size: 23px;
    background-color: aqua;
    border: 2px solid wheat;
}

.container {
    width: 440px;
    height: 440px;
    background: #c1c1c1;
    border-radius: 4px;
    /* filter: drop-shadow(2px 2px 8px #fff); */
    box-shadow: inset 1px 1px 4px rgba(3, 90, 112, 0.744),
        inset -1px -1px 4px #11111190;

}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 0;
}

.wrapper h2 {
    font-size: 28px;
}

.wrapper input {

    padding-inline: 29px;
    padding-block: 10px;
    border: none;
    border-radius: 4px;
    outline: 1px solid rgba(3, 90, 112, 0.744);
    box-shadow: inset -3px -3px 8px #f1f1f1,
        inset -2px -2px 4px #030000c4;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 10px;
    transform: scale(1);


}

.buttons :hover {
    transform: scale(1.1);

}

.buttons :active {
    scale: 0.8;
}